# KiCad ignore list
*.lck
*.bkp
*.bak
*.000
*.rpt
*.zip
*.csv
fp-info-cache
_autosave-*
archive_3d_models.log

# Build files
/plots/
/gerbers/

# Operating System junk
.DS_Store
Thumbs.db

PCB/production
/ESPHome/XIAO-C6/.gitignore
/ESPHome/XIAO-C6/stemma_soil_sensor/__pycache__/
